
.card-title {
    width: 600px;
    font-size: 22px
}

.card {
    position: relative;
    left: 205px;
    top: 10px;
    width: 900px;
    height: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #F0F0F0
}

img {
    width: 290px;
    height: 150px;
    position: absolute;
    left: 600px;
    bottom: 4px;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h5 {
    background-color: #303030;
    color: #989898;
    width: 100px;
    text-align: left;
    height: 23px; 
    font-size: 16px
}

h4 {
    position: absolute;
    left: 205px;
    color: #696969;
    background-color: #303030;
    color: #A0A0A0;
    width: 210px;
    height: 30px;
    bottom: 80px;
}

.aa {
    border: 1px solid gray;
    height: 100px;
    width: 1349px;
    background: url("https://images.pexels.com/photos/8633/nature-tree-green-pine.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    position: absolute;
    left: 400px;
    top: 70px;
    height: 40px;
    width: 500px;
    background-color: #e6e6e6;
    border: none;
    text-align: center;
    border-radius: 3px
}

