
    <div class="panel">

  <form name="form" (ngSubmit)="login()">
        <h3>Login</h3>  
    
        <div class="form-3">
        
      <div class="form-group">
          <input type="text" class="form-control" name="username" placeholder="Enter Username" [(ngModel)]="user.username" required />
        </div>

      <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Enter Password" [(ngModel)]="user.password" required />
      </div>

      <div class="form-group">
          <button class="btn btn-success">Login</button>
          <a routerLink = "/register" >Not registered yet?</a>
          <div *ngIf="error" class="alert alert-error">Username or password is incorrect</div>
        </div>

        </div>

    </form>
    
  </div>
 